**/.vs

*.pdb
*.cache
*.dll
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.csproj.FileListAbsolute.txt
*.deps.json
*.dev.json
**/project.assets.json
EMS.Tests/obj
EMS.Tests/bin
EMS.Tests/obj/Debug/netcoreapp2.1/EMS.Tests.AssemblyInfo.cs
EMS.Tests/obj/Debug/netcoreapp2.1/EMS.Tests.Program.cs
EMS.API.Tests/obj/Debug/netcoreapp2.1/EMS.API.Tests.AssemblyInfo.cs
EMS.Domain.Tests/obj/Debug/netcoreapp2.1/EMS.Domain.Tests.AssemblyInfo.cs
EMS.Service.Tests/obj/Debug/netcoreapp2.1/EMS.Service.Tests.AssemblyInfo.cs
/EMS.Service.Tests/bin/Debug/netcoreapp2.1
/EMS.Service.Tests/obj/Debug/netcoreapp2.1
/EMS.Domain.Tests/obj/Debug/netcoreapp2.1
/EMS.Domain.Tests/bin/Debug/netcoreapp2.1
/EMS.API.Tests/obj/Debug/netcoreapp2.1
/EMS.API.Tests/bin/Debug/netcoreapp2.1
