**/.vs
EMS.Business/bin/Debug/netcoreapp2.1/EMS.Business.deps.json
EMS.Business/bin/Debug/netcoreapp2.1/EMS.Business.dll
EMS.Business/bin/Debug/netcoreapp2.1/EMS.Business.pdb
EMS.Business/bin/Debug/netcoreapp2.1/EMS.Domain.dll
EMS.Business/bin/Debug/netcoreapp2.1/EMS.Domain.pdb
EMS.Business/obj/EMS.Business.csproj.nuget.cache
EMS.Business/obj/EMS.Business.csproj.nuget.g.props
EMS.Business/obj/EMS.Business.csproj.nuget.g.targets
EMS.Business/obj/project.assets.json
EMS.Business/obj/Debug/netcoreapp2.1/EMS.Business.assets.cache
EMS.Business/obj/Debug/netcoreapp2.1/EMS.Business.csproj.CoreCompileInputs.cache
EMS.Business/obj/Debug/netcoreapp2.1/EMS.Business.csproj.FileListAbsolute.txt
EMS.Business/obj/Debug/netcoreapp2.1/EMS.Business.csprojAssemblyReference.cache
EMS.Business/obj/Debug/netcoreapp2.1/EMS.Business.dll
EMS.Business/obj/Debug/netcoreapp2.1/EMS.Business.pdb
EMS.Domain/bin/Debug/netcoreapp2.1/EMS.Domain.dll
EMS.Domain/bin/Debug/netcoreapp2.1/EMS.Domain.pdb
EMS.Domain/obj/EMS.Domain.csproj.nuget.cache
EMS.Domain/obj/EMS.Domain.csproj.nuget.g.props
EMS.Domain/obj/EMS.Domain.csproj.nuget.g.targets
EMS.Domain/obj/project.assets.json
EMS.Domain/obj/Debug/netcoreapp2.1/EMS.Domain.assets.cache
EMS.Domain/obj/Debug/netcoreapp2.1/EMS.Domain.csproj.CoreCompileInputs.cache
EMS.Domain/obj/Debug/netcoreapp2.1/EMS.Domain.csproj.FileListAbsolute.txt
EMS.Domain/obj/Debug/netcoreapp2.1/EMS.Domain.dll
EMS.Domain/obj/Debug/netcoreapp2.1/EMS.Domain.pdb
EMS.Persistence/bin/Debug/netcoreapp2.1/EMS.Domain.dll
EMS.Persistence/bin/Debug/netcoreapp2.1/EMS.Domain.pdb
EMS.Persistence/bin/Debug/netcoreapp2.1/EMS.Persistence.deps.json
EMS.Persistence/bin/Debug/netcoreapp2.1/EMS.Persistence.dll
EMS.Persistence/bin/Debug/netcoreapp2.1/EMS.Persistence.pdb
EMS.Persistence/bin/Debug/netcoreapp2.1/EMS.Persistence.runtimeconfig.dev.json
EMS.Persistence/obj/EMS.Persistence.csproj.nuget.cache
EMS.Persistence/obj/EMS.Persistence.csproj.nuget.g.props
EMS.Persistence/obj/EMS.Persistence.csproj.nuget.g.targets
EMS.Persistence/obj/project.assets.json
EMS.Persistence/obj/Debug/netcoreapp2.1/EMS.Persistence.assets.cache
EMS.Persistence/obj/Debug/netcoreapp2.1/EMS.Persistence.csproj.CoreCompileInputs.cache
EMS.Persistence/obj/Debug/netcoreapp2.1/EMS.Persistence.csproj.FileListAbsolute.txt
EMS.Persistence/obj/Debug/netcoreapp2.1/EMS.Persistence.csprojAssemblyReference.cache
EMS.Persistence/obj/Debug/netcoreapp2.1/EMS.Persistence.dll
EMS.Persistence/obj/Debug/netcoreapp2.1/EMS.Persistence.pdb
