**/.vs

*.pdb
*.cache
*.dll
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.csproj.FileListAbsolute.txt
*.deps.json
*.dev.json
**/project.assets.json
EMS.Tests/obj/Debug/netcoreapp2.1/EMS.Tests.AssemblyInfo.cs
EMS.Tests/obj/Debug/netcoreapp2.1/EMS.Tests.Program.cs
