@import "../../constants/colors.scss";

.course-tile {

  &:hover {
    box-shadow: 0 3px 7px 4px rgba(0, 0, 0, 0.12);
  }

  &__title {
    font-size:      24px;
    letter-spacing: -0.5px;
    margin-bottom:  16px;
    font-weight:    700;
  }

  &__meta {
    color: $textLight;
    font-weight: 200;
  }
}
