@import "../../constants/colors.scss";

.sign-in {
  background-color: #F5F7F9;
  height:           100%;
  justify-content:  center;
  padding:          100px 0;
  min-height:       500px;
  overflow:         auto;

  &__container {
    width:          500px;
    margin:         auto;
  }

  &__paper {
    padding:        40px 60px;
    text-align:     center;
    display:        flex;
    flex-direction: column;
  }
  &__title {
    color:          $textColor;
    font-size:      40px;
    font-weight:    600;
    margin-bottom:  30px;
    display:        flex;
    flex-direction: column;
  }
}

.sign-in-form {
  display:        flex;
  flex-direction: column;
  align-items:    center;
}

.sign-in-link {
  margin-top: 25px;
  text-align: center;
}
