@import "../../constants/colors.scss";

.settings {
  margin: auto;
  &__paper {
    display:        flex;
    flex-direction: column;
    min-width:      600px;
    min-height:     400px;
    padding:        30px;
  }
}
