@import "../../constants/colors.scss";
@import "../reset.scss";

html {
  height:  100%;
}

body {
  margin:  0;
  padding: 0;
  height:  100%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background-color: $appBg;
  color: $textColor;
}
#root {
  height: 100%;
}

.ems-panel {
  min-width: 300px;
  border:    1px solid #e4e3e3;
}
.ems {
  &__header {
    border-bottom:  1px solid $bottomLine;
    display:        flex;
    margin-bottom:  26px;
    font-size:      16px;
    letter-spacing: 0.2px;
    color:          $textLight;

    &-tab {
      margin-right:   39px;
      padding-bottom: 19px;
      cursor:         pointer;
      font-weight:    500;
      text-align:     center;

      &--active {
        color:         $titleColor;
        border-bottom: 3px solid $primaryColor;
        font-weight:   600 !important;
      }
    }
  }
}

a {
  color: $textColor;
}
.form-control {
  background-color: white;
  color:            $textLight;
  border:           solid 2px $inputBorder;
  resize:           none;
  border-radius:    3px;
  font-size:        inherit;
}
::placeholder {
  color: $textLight !important;
}
.panel {
  background-color: #ffffff;
  box-shadow:       0 3px 10px 0 rgba(0,0,0,0.03);
  width:            100%;
  border-radius:    4px;
  float:            left;
  display:          flex;
  flex-direction:   column;
  justify-content:  space-around;
}

.panel-sm {
  padding:          20px;
  max-width:        360px;
  min-height:       201px;
  margin:           15px;

}

.form-control:focus {
  border-color: $primaryColor;
}

.flex { display: flex; }

.space-between {display: flex; justify-content: space-between;}
.vertical-center {display: flex; align-items: center;}
.horizontal-center {display: flex; justify-content: center;}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display:        flex;
  flex-direction: row;
}

.grow {
  display:   flex;
  flex-grow: 1;
}
a {color: $primaryColor;}
.pointer {
  cursor: pointer !important;
}
.disabled {
  cursor: default !important;
}
@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
