@import "../../constants/colors.scss";

.statistics {
  margin:           auto;
  background-color: white;
  padding:          30px 35px;
  min-width:        860px;
  flex-direction:   column;

  &__header {
    flex-grow: 1;
    margin-right: 40px;

    &-wrapper {
      display: flex;
    }
  }

  &__dropdown {
    width:          auto;
    padding-bottom: 0;
    min-width:      200px;
  }

  &__legend {
    &-row {
      display: flex;
      padding: 3px 0;
    }
    &-simbol {
      width:  30px;
      height: 15px;

      &--my-grade {
        background-color: $primaryColor;
      }
      &--best-grade {
        background-color: #ceefa7;
      }
      &--worst-grade {
        background-color: #f79494;
      }
    }

    &-text {
      padding-left: 10px;
    }
  }

}
