@import "../../../constants/colors.scss";

.form-input-dropdown {
  position:       relative;
  width:          100%;
  padding-bottom: 17px;
  text-align:     left;

  label {
    color:       $textLight;
    font-weight: 200;
    font-size:   16px;
    margin:      31px 0 0px 24px;
    z-index:     2;
    position:    absolute;
    transition:  all .1s;
    cursor:      text;
  }
}


.label-up label {
  color:          $primaryColor;
  font-size:      12px;
  font-weight:    300;
  letter-spacing: -0.2px;
  margin:         14px 0 0px 24px;
  line-height:    22px;
}

.errors-wrapper {
  color:          $accentColor1;
  font-size:      12px;
  font-weight:    200;
  letter-spacing: -0.5px;
  margin-left:    4px;
  margin-top:     2px;
  margin-bottom:  -30px;
  height:         28px;
  z-index:        3;
  line-height:    1;
  box-sizing:     border-box;
}

.error-text {
  white-space:      nowrap;
  overflow:         hidden;
  text-overflow:    ellipsis;
  max-width:        100%;
  background-color: #fff;
  display:          inline-block;
  padding:          0 2px;
}

.form-input-dropdown.is-placeholder.label-up label { color: $textLight }

.form-input-dropdown.has-error .dropdown { border-color: $accentColor1; background-color: #fff2f2 !important }
.form-input-dropdown .Dropdown-control {
  padding:          31px 20px 16px 24px;
  box-sizing:       border-box;
  border-width:     1px;
  border-color:     $inputBorder;
  background-color: $inputBg;
  color:            $textColor;
  width:            100%;
  position:         relative;
  height:           74px;
  border-radius:    3px;
}

.form-input-dropdown.disabled .Dropdown-control { color: $textLight; opacity: 0.7 }
.form-input-dropdown.disabled .Dropdown-arrow { opacity: 0.3 }
.form-input-dropdown.disabled .Dropdown-control { border-color: #eee }

.form-input-dropdown.has-title .Dropdown-control { padding: 38px 23px 15px 23px; }
.form-input-dropdown.white .Dropdown-control { background-color: white }

.form-input-dropdown.size-s .Dropdown-control {
  height:  51px;
  padding: 18px 20px 10px 20px;
}

.Dropdown-placeholder { font-weight: 200; font-size: 16px; }
.Dropdown-option { font-weight: 300; }

.form-input-dropdown.is-placeholder .Dropdown-placeholder {
  color: textLight;
}
.form-input-dropdown .Dropdown-arrow {
  margin-right: 5px;
  margin-top: 3px;
}

.form-input-dropdown.has-title .Dropdown-arrow { margin-top: 9px; }

.form-input-dropdown .Dropdown-menu {
  border-color: $inputBorder;
}
