@import "../../../constants/colors.scss";

.logo {
  letter-spacing: 1.2px;

  &__acronym {
    padding-left: 1px;
    font-weight:  300;
    font-size:    35px;

    &--text {
      font-size:      11px;
      letter-spacing: -0.4px;
      margin-left:    -3px;
    }
  }
}
