@import "../../../constants/colors.scss";

.paper {
  background-color: white;
  display:          flex;
  padding:          20px;
  border-radius:    3px;
  box-shadow:       0 3px 10px 0 rgba(0, 0, 0, 0.03);
}
