$appBg:                #f4f6f7;
$inputBg:              #fafafa;
$listBg:               #fafafa;
$inputBorder:          #e8eef1;
$optionHoverHighlight: #e8eef1;
$bottomLine:           #eef3f5;

$textColor:  #1a324e;
$titleColor: #1e3d61;
$textLight:  #99A4B0;

$primaryColor: #0075ff;
$accentColor1: #ff003d;
$accentColor2: #00c678;
$accentColor3: #ffba00;

$buttonFocusBg:    #218ffd;
$buttonDisabledBg: rgba(0, 117, 255, 0.47);
