@import "../../../constants/colors.scss";

.form-input-text {
  width:          100%;
  position:       relative;
  padding-bottom: 17px;
  text-align:     left;

  label {
    color:       $textLight;
    font-weight: 200;
    font-size:   16px;
    margin:      31px 0 0px 24px;
    z-index:     2;
    position:    absolute;
    transition:  all .1s;
    cursor:      text;
    white-space: nowrap;
  }

}

.label-up label {
  color:          $primaryColor;
  font-size:      12px;
  font-weight:    300;
  letter-spacing: -0.2px;
  margin:         14px 0 0px 24px;
  line-height:    22px;
}

::placeholder { color: $textLight; font-weight: 200 }

.form-input-text input {
  width:              100%;
  height:             74px;
  padding:            20px 23px 19px 23px;
  box-sizing:         border-box;
  border-width:       1px;
  border-color:       $inputBorder;
  background-color:   $inputBg;
  color:              $textColor;
  font-size:          16px;
  line-height:        1.5;
  -webkit-appearance: none;
}

.form-input-text.read-only input {
  color: #888;
  background-color: #f6f6f6;
  border-color: $inputBorder !important;
}

.form-input-text.read-only input:focus {
  box-shadow: none;
}

.form-input-text.size-s input {
  height:  50px;
  padding: 15px 20px 10px 20px;
}

.form-input-text.has-title input { padding: 38px 23px 15px 23px; }
